<div class="data-table-header d-flex justify-content-between">
  <h4 class="title">{{ dataTable.headerTitle }}</h4>
  <div class="button-panel">
    <button
      type="button"
      class="btn btn-secondary btn-sm refresh-button mr-1"
      (click)="dataTable.reloadItems()"
      [attr.aria-label]="dataTable.translations.headerReload"
      [title]="dataTable.translations.headerReload"
    >
      <span class="fa fa-refresh"></span>
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm column-selector-button"
      [class.active]="columnSelectorOpen"
      (click)="
        columnSelectorOpen = !columnSelectorOpen; $event.stopPropagation()
      "
      [attr.aria-label]="dataTable.translations.headerColumnSelector"
      [title]="dataTable.translations.headerColumnSelector"
    >
      <span class="fa fa-list"></span>
    </button>
    <div class="column-selector-wrapper" (click)="$event.stopPropagation()">
      <div *ngIf="columnSelectorOpen" class="column-selector-box card">
        <div
          *ngIf="dataTable.expandableRows"
          class="column-selector-fixed-column form-check"
        >
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="dataTable.expandColumnVisible"
            id="check1"
          />
          <label class="form-check-label" for="check1">
            {{ dataTable.translations.expandColumn }}
          </label>
        </div>

        <div
          *ngIf="dataTable.indexColumn"
          class="column-selector-fixed-column form-check"
        >
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="dataTable.indexColumnVisible"
            id="check2"
          />
          <label class="form-check-label" for="check2">
            {{ dataTable.translations.indexColumn }}
          </label>
        </div>

        <div
          *ngIf="dataTable.selectColumn"
          class="column-selector-fixed-column form-check"
        >
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="dataTable.selectColumnVisible"
            id="check3"
          />
          <label class="form-check-label" for="check3">
            {{ dataTable.translations.selectColumn }}
          </label>
        </div>

        <div
          *ngFor="let column of dataTable.columns; index as i"
          class="column-selector-column form-check"
        >
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="column.visible"
            [id]="'col-check' + i"
          />
          <label class="form-check-label" [for]="'col-check' + i">
            {{ column.header }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
